.footerContainer {
    background-color: black ;
    color: white ; 
    display: grid;
    padding-left: var(--paddingX);
    padding-right: var(--paddingX);
    padding-top: 10vh ;
    padding-bottom: 4vh ;
    grid-auto-flow: column;
    column-gap: 10vw;
    font-family: 'Inter';
    /* just for testing */

    position: absolute;
    bottom: 0 ;
    width: 100vw ;
}


.leftFooter, .rightFooter {
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
}
.leftFooter > p {
    margin-top:  20px ;
}

.leftFooter > p:last-child {
    justify-self: flex-end;
    font-weight: 300 ;
    font-size: 13px;
    display: block;
    margin-top: auto ;
}

.footerHelp {
    margin: 40px 0 ;
    
}
.footerHelp > p {
    margin: 9px 0;
    font-weight: 600;
}