.navbar {
    padding-left: var(--paddingX);
    padding-right: var(--paddingX);
    padding-top: 6vh ;
    padding-bottom: 6vh ;
    display: flex ;
    align-items: center;
}
.linksContainer {
	display: flex;
	align-items: center;
	margin-left: 60px; 
    flex: 1;
}

@media screen and (max-width: 1050px) {
    .navbar {
        justify-content: space-between;
    }
    .linksContainer {
        position: absolute;
        top: 0 ;
        right: 0 ;
        bottom: 0 ;
        background-color: black ;
        color: white ;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 16vh;
        transform: translateX(100%);
        transition: transform .3s ease-out;
        width: 250px;
    }
    .linksContainer > a {
        transform: translateX(250px);
        transition: transform .3s ease-out;
    }
    
    .linksContainer.open {
        transform: translateX(0);
        box-shadow: -100vw 2px 100vw 100vw rgba(0,0,0,0.75);
    }
    .linksContainer.open > a:nth-child(1) {
        transition-delay: .2s ;
    } 
    .linksContainer.open > a:nth-child(2) {
        transition-delay: .3s ;
    } 
    .linksContainer.open > a:nth-child(3) {
        transition-delay: .4s ;
    } 
    .linksContainer.open > a {
        transform: translateX(0);
    }
}

@media screen and (max-width: 570px) {
    .buttonsContainer {
        display: none ;
    }
}