.logo {
	width: 91px;
	font-weight: 700;
	font-size: 24px;
	color: #000000;
	cursor: pointer;
}

.navLink {
	position: relative;
	display: block;
	font-size: 18px;
	margin-right: 22px;
	font-weight: 600;
}

.navLink::after {
	content: "";
	position: absolute;
	bottom: -8px ;
	left: 0 ;
	width: 0px;
	height: 2.3px ;
	background-color: black ;
	border-radius: 20%; 
	transition: .3s ease-out;
}

.navLink:hover::after {
	width: 40px ;
}
.active {
	font-weight: 700 ;
}
.active::after {
	width: 40px ;
}

.button {
	padding: 12px 25px;
	border-radius: 21px;
	border: none;
	cursor: pointer;
	margin-right: 5px ;
	font-size: 16px;
	font-weight: 600 ;
	transition: .25s ease-out ;
}

.button_dark {
	background: #000000;
	color: white;
	border: 1px solid black ;
}

.button_dark:hover {
	background-color: white;
	color: black ;
}
.button_light {
	color: #000000;
	background-color: white;
	border: 1px solid white ;
}
.button_light:hover {
	border-color: black 
}